.backimg {
    /* background-image: url("./images/backgroundimg.jfif"); */
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), 
        url('./images/backgroundimg.jfif');
}
.container {
    border: 2px solid black;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px;
}
.image {
    padding: 0px;
    border: 2px solid orange;
}
.heading {
    padding: 15px;
    justify-content: center;
    color: orange;
}
.paragraph {
    padding: 10px;
    text-align: justify;
    font-family: Arial, sans-serif;

}